@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:cadetblue; font-weight:bold">Apartamente de inchiriat</h1>
    <h2 style="color:cadetblue">Ca la mama acasa!</h2>
</div>
