@page
@model Proiect_Apartament.Pages.Inchirieri.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inchiriere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Inchiriere.MemberID" class="control-label">Client</label>
                <select asp-for="Inchiriere.MemberID" class ="form-control" asp-items="ViewBag.MemberID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Inchiriere.ApartamentID" class="control-label">Apartament</label>
                <select asp-for="Inchiriere.ApartamentID" class ="form-control" asp-items="ViewBag.ApartamentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Inchiriere.CheckoutDate" class="control-label">Checkout Date</label>
                <input asp-for="Inchiriere.CheckoutDate" class="form-control" />
                <span asp-validation-for="Inchiriere.CheckoutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inchiriere.CheckinDate" class="control-label">Checkin Date</label>
                <input asp-for="Inchiriere.CheckinDate" class="form-control" />
                <span asp-validation-for="Inchiriere.CheckinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Inapoi la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
