@page
@model Proiect_Apartament.Pages.Inchirieri.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inchiriere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Inchiriere.ID" />
            <div class="form-group">
                <label asp-for="Inchiriere.MemberID" class="control-label"></label>
                <select asp-for="Inchiriere.MemberID" class="form-control" asp-items="ViewBag.MemberID"></select>
                <span asp-validation-for="Inchiriere.MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inchiriere.ApartamentID" class="control-label"></label>
                <select asp-for="Inchiriere.ApartamentID" class="form-control" asp-items="ViewBag.ApartamentID"></select>
                <span asp-validation-for="Inchiriere.ApartamentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inchiriere.CheckoutDate" class="control-label"></label>
                <input asp-for="Inchiriere.CheckoutDate" class="form-control" />
                <span asp-validation-for="Inchiriere.CheckoutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
